---
const posts = await Astro.glob('./*.mdx');
import Layout from '../../layouts/default.astro';
---

<Layout>
  <h1 class="text-4xl text-primary font-bold">Notes</h1>
  <p>
    this page for my dev notes like errors, tips, etc. If you get the benefits
    I'm participating
  </p>
  {
    posts.map((post) => (
      <a href={'/notes/' + post.frontmatter.slug}>
        <h2 class="font-bold text-xl text-primary">{post.frontmatter.title}</h2>
        <span class="text-gray-500">{post.frontmatter.created_at}</span>
        <p>{post.frontmatter.desc}</p>
      </a>
    ))
  }
</Layout>
