---
import SocMed from './SocMed.vue';
import TechStack from './TechStack.astro';
---

<div id="about" class="border-t-2 border-primary/50 py-20">
  <h2 class="text-4xl md:text-6xl font-bold mb-4">
    About <span class="text-primary">Me</span>
  </h2>
  <p class="mb-4">
    Hi, I'm Versatile Front-end Developer with {new Date().getFullYear() - 2017}+ years experience designing, developing and managing professional websites. Though focusing on VueJS, NuxtJS and Laravel as a tech stack, I'm able to pick up new skills quickly.
  </p>
  <p class="mb-4">I also have strong experience with modern web technologies and JavaScript best practice, expert in combining the art of UI/UX design and consuming data from API with the art of programming.You can check my last job
    <a href="#positions" class="text-secondary underline hover:text-primary">here</a>
    or if you’d like to get in touch, feel free to say hello through any of the social links below.</p>
  <p class="mb-4">Available for freelance programming gigs and skills-based volunteering.</p>

  <SocMed class="mb-4"></SocMed>
  <TechStack />
</div>
