---
import SocMed from './SocMed.vue';
import TechStack from './TechStack.astro';
---

<div id="about" class="border-t-2 border-primary/50 py-20">
  <h2 class="text-4xl md:text-6xl font-bold mb-4">
    About <span class="text-primary">Me</span>
  </h2>
  <p  class="mb-4">
    Hi, I'm Versatile Front-end Developer with 5+ years experience designing, developing and managing professional websites. Though focusing on VueJS, NuxtJS and Laravel as a tech stack, I'm able to pick up new skills quickly. U can check my last job
    <a href="#positions" class="text-primary underline">here</a>
    or if you’d like to get in touch, feel free to say hello through any of the social links below.
  </p>
  <SocMed class="mb-4"></SocMed>
  <h3 class="text-2xl text-primary mb-2">Tech Stack</h3>
  <TechStack />
</div>
