---
import TechStack from './TechStack.astro';
---

<div id="about" class="border-t-2 border-primary/50 py-20">
  <h2 class="text-4xl md:text-6xl font-bold mb-4">
    About <span class="text-primary">Me</span>
  </h2>
  <p  class="mb-4">
    My name is Ade Pranaya, I graduated from Pasundan University. I am Web
    Designer / Developer. I am very happy with programming especially in
    Frontend Development so that's why right now I want to focus as Frontend
    Developer. U can check my last job
    <a href="#positions" class="text-primary underline">here</a>
  </p>
  <h3 class="text-2xl text-primary mb-2">Tech Stack</h3>
  <TechStack />
</div>
