---
const techStacks = [
  'HTML',
  'CSS',
  'JavaScript',
  'Angular',
  'React JS',
  'Vue JS',
  'Nuxt JS',
  'Electron JS',
  'Java',
  'PHP',
  'Laravel',
  'Codeigniter',
  'Bootstrap',
  'Tailwind CSS',

];
---

<div class="flex gap-2 flex-wrap">
  {
    techStacks.map((item) => (
      <div class=" p-1 text-sm bg-primary text-white rounded-lg">
        {item}
      </div>
    ))
  }
</div>
